.react-table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  /* border: 1px solid #cdcdcd; */
  text-align: left;
}

.react-table__columns,
.react-table__footer,
.react-table__row {
  display: flex;
}
.react-table__groups-container {
  background: #fcfcfc;
}
.react-table__columns {
  background: #fcfcfc;
}

.react-table__column.hover {
  opacity: 0.5;
}

.react-table__column {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-table__column-link {
  text-decoration: none;
}

.move-component + .move-component .react-table__column {
  border-left: 0;
}

.react-table__row.active {
  outline: 1px solid;
}

.react-table__row-cell {
  padding: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.react-table__row-cell input {
  width: 100%;
}

.react-table__row:last-child .react-table__row-cell {
  border-bottom: none;
}

.react-table__footer {
  background: #fcfcfc;

  border-top: 0;
}

.react-table__footer-cell {
  padding: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.react-table__footer-container {
  width: 100%;
  display: flex;
}

.react-table__group-name {
  padding: 5px;
  /* border: 1px solid #ccc; */
}

.group-name__open-close {
  cursor: pointer;
}

.react-table__groups-list {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  min-height: 50px;
  border: 1px dashed #ccc;
}

.react-table__groups-list li + li {
  margin-left: 10px;
}
.react-table__groups-list .move-component {
  width: 100%;
  max-width: 120px;
}
.move-component {
  width: 100%;
}

.react-table__search-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}
