.react-table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #cdcdcd;
  text-align: left;
}

.react-table__columns,
.react-table__footer,
.react-table__row {
  display: flex;
}

.react-table__columns {
  background: #fcfcfc;
}

.react-table__column {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-table__column-link {
  text-decoration: none;
}

.react-table__column + .react-table__column {
  border-left: 1px solid #cdcdcd;
}

.react-table__row-cell {
  border: 1px solid #cdcdcd;
  padding: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.react-table__row-cell input {
  width: 100%;
}

.react-table__row:last-child .react-table__row-cell {
  border-bottom: none;
}

.react-table__row-cell + .react-table__row-cell {
  border: 1px solid #cdcdcd;
}

.react-table__footer {
  background: #fcfcfc;
}

.react-table__footer-cell {
  padding: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid #cdcdcd;
}

.react-table__footer-cell + .react-table__footer-cell {
  border-left: 1px solid #cdcdcd;
}

.react-table__footer-container {
  width: 100%;
  display: flex;
}

.react-table__group-name {
  padding: 5px;
  border: 1px solid #ccc;
}
